:root {
  --white: #ffffff;
  --accent-color: #fdfbf9;
  --btn-color: #fdfbf9;
  --btn-c2: #9484c6;
  --dark-bg-color: #201445;
  --light-bg-color: #f5efeb;
  --border-radius: 25px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: var(--white);
  margin: 0;
  display: grid;
}

nav {
  background-color: var(--white);
  height: 12vh;
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
}

nav h2 {
  color: var(--dark-bg-color);
  font-family: sans-serif;
  margin: 0;
}

nav > ul {
  height: 12vh;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}

nav #options {
  width: 52%;
}

#options li {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 12px;
  transition-duration: 50ms;
  border: 4px solid var(--white);
}

#options > li:hover {
  border-color: var(--light-bg-color);
  background-color: var(--light-bg-color);
}

#buttons {
  width: 15%;
}

#buttons > * {
  transition-duration: 150ms;
  border-radius: var(--border-radius);
  border: none;
  padding: 12px;
}

#login {
  background-color: var(--white);
}

#login:hover {
  background-color: var(--light-bg-color);
}

#options i {
  font-size: 1.5rem;
}

.dropdown-opt {
  display: flex;
  justify-content: center;
  position: relative;
}

.dropmenu {
  display: none;
  padding: 0;
  position: absolute;
  top: 120%;
  background-color: var(--white);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.438);
  border-radius: 6px;
}

/* for interactive classes/styles with js*/

.show {
  display: block;
}

.focus {
  border-color: var(--btn-c2);
}

/* ######### */

/* for static styles*/

.btns {
  transition-duration: 150ms;
  border-radius: var(--border-radius);
  border: none;
  padding: 12px;
  background-color: var(--dark-bg-color);
  color: var(--accent-color);
}

.btns:hover {
  background-color: #1c113d;
}

.normal-text {
  color: var(--btn-c2);
}

.strong-text {
  font-size: 2rem;
  font-weight: bolder;
}

/* ######### */

#start-section {
  display: grid;
  justify-content: space-evenly;
  grid-template-areas: "h1 img";
  justify-self: center;
  width: 90vw;
  height: 70vh;
}

#start-section img {
  grid-area: img;
  display: inline-block;
  height: 400px;
}

#start-section div {
  grid-area: h1;
}

#second-section {
  text-align: center;
  display: grid;
  height: 50vh;
  justify-self: center;
  justify-content: center;
  align-content: space-between;
}

.content {
  align-content: center;
  justify-content: space-between;
  grid-template-columns: 30% 30% 30%;
  display: grid;
}

.content i {
  font-size: 2rem;
  background-color: var(--light-bg-color);
  color: var(--btn-c2);
  padding: 12px;
  border-radius: 50%;
}
