:root {
  --white: #ffffff;
  --white-2: #fdfbf9;
  --dark-blue: #4b2aad;
  --violet: #9484c6;
  --night: #201445;
  --paint: #f5efeb;
  --trans-dur: 200ms;
}

* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-content: center;
  height: fit-content;
  margin: 0;
  display: grid;
  gap: 20px;
}


nav {
  height: 10vh;
  background-color: var(--white);
  z-index: 9;
  position: fixed;
  top: 0;
  justify-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav * {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

#menus {
  width: 30vw;
  justify-content: space-between;
  list-style: none;
}

#menus li {
  cursor: pointer;

  transition: var(--trans-dur);

  height: 30px;
  padding-inline: 24px;
  border-radius: 30px;
}

#menus li:hover {
  background-color: var(--paint);
}

#forms {

  width: 16vw;
  justify-content: space-between;
}

button {
  cursor: pointer;

  height: 60%;
  border-radius: 24px;
  padding-inline: 1rem;
  border: none;
  font-weight: bold;
  transition: var(--trans-dur);
}

.login {
  background-color: transparent;
}

.login:hover {
  background-color: var(--paint);
}

.signup {
  background-color: var(--dark-blue);
  color: var(--white);
}

.signup:hover {
  background-color: var(--night);
}

.section-grid {
  display: grid;
  gap: 10px;
}

.section-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#sign-up-section {
  background-color: var(--night);
}

footer {
  background-color: var(--paint);
  display: grid;
  align-content: center;
}

footer ul {
  display: flex;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
}

figure img {
  width: 400px;
  height: 400px;
}

#digital-products {
  justify-self: center;
  width: 90%;
  justify-content: center;
  align-items: center;
}

#digital-products p,
#digital-products h1 {
  font-size: 2.5rem;

}

.between {
  display: grid;
  text-align: center;
  justify-self: center;
}

.between * {
  text-align: center;
}

.grid-div {
  align-content: center;
  text-align: center;
  font-size: 0.8rem;
  width: 80%;
  justify-content: center;
  display: grid;
}

box-icon {
  color: #9484c6;
  padding: 4px;
  justify-self: center;
  text-align: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #f5efeb;
}